extends ../shared/template
block content
    h1 Accounts
    table
      thead
        tr
          th name
          th type
          th balance
          th opened
      tbody
        each account in accounts
          tr(style='background-color:#{account.color};')
            td: a(href='/accounts/#{account._id}')= account.name
            td= account.type
            td= account.balance
            td= account.opened
